<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 全局配置 -->
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<!-- 配置映射类的别名 -->
	<typeAliases>
		<typeAlias type="smok.springmvc.model.tmodel.User" alias="User" />
		<typeAlias type="smok.springmvc.model.tmodel.News" alias="News" />
	</typeAliases>

	<!-- 配置Mapper文件的路径 -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/NewsMapper.xml" />
	</mappers>

</configuration>  