<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="User" id="userMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="sex" column="sex" />
		<result property="address" column="address" />
		<result property="comment" column="comment" />
		<result property="addtime" column="addtime" />
		<result property="updatetime" column="updatetime" />
	</resultMap>

	<select id="getUserById" parameterType="Long" resultType="User">
		select
		*
		from t_user where id = #{id}
	</select>

	<update id="updateUser" parameterType="User">
		update t_user set
		name=#{name},age=#{age},sex=#{sex},address=#{address},comment=#{comment}
		where id=#{id}
	</update>

	<delete id="deleteUser" parameterType="Long">
		delete from t_user where
		id=#{id}
	</delete>

	<insert id="insertUser" parameterType="user" useGeneratedKeys="true"
		keyColumn="id">
		insert into
		t_user(name,age,sex,address,comment,addtime,updatetime)
		values(#{name},#{age},#{sex},#{address},#{comment},now(),now())
	</insert>

	<select id="getUserList" parameterType="User" resultType="User">
		select * from t_user
		<where>
			<if test="id > 0">
				id = #{id}
			</if>
			<if test="name!=null and name!=''">
				or name like  CONCAT(CONCAT('%', #{name}),'%')
			</if>
		</where>
	</select>
</mapper>